#choropleth_map {
	top:20px;
	bottom: 20px; 
	left: 20px;
	right: 20px;
}

.page {
    width: 1200px;
    margin: auto;
    padding: 60px;
    padding-tdop: 10px;
    background-color: #e6f9ff;
  font-size: 20px;}

.column {
  float: left;
}

.left{
  width: 25%;
  float: left;
}

.right{
  width: 25%;
  float: right;
}

.middle {
  width: 40%;
  float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 150px;
    }
