#choropleth_map {
	top:5px;
	bottom: 5px; 
	left: 5px;
	right: 5px;
}

.page {
    width: 1200px;
    margin: auto;
    padding: 60px;
    padding-tdop: 10px;
    background-color: #e6f9ff;
  font-size: 20px;}

.column {
  float: left;
  width: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    }
